/* region general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


/* #endregion general */


/* utilities */

.flex{
    display: flex;
}

.container{
    width: 80%;
    max-width: 1440;
    margin: auto;
}

.m-bottom{
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}
/* /utilities */

/* header */

#app-header{
    position: sticky;
    width: 100%;
    max-width: 1440px;
    background-color: #ff6900;
}

.nav_bar{
    padding: 0.5rem 0;
    justify-content: space-around;
}

.menu{
    flex-direction: row;
    list-style: none;
    gap: 0.5rem;
    align-items: center;
    width: calc(100% / 3);
}

.menu_item{
    text-decoration: none;
    color: white;
}

.logo{
    margin-left: 15rem;
}

.icons{
    color: white;
    gap: 0.5rem;
    align-items: center;
}

/* /header */

/* main */

.col{
    flex-wrap: wrap;
    position: relative;
}

.card{
    flex-wrap: wrap;
    width: calc(100% / 3 - 1rem);
    margin-top: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.product{
    width: 100%;
}
.hover_img{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: calc(100% / 3 - 1rem);
    margin-top: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.image:hover .hover_img{
    display: inline;
}

.discount{
    position: absolute;
    bottom: 100px;
    left: 25px;
    padding: 0.5rem 0.75rem;
    background-color: red;
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
}

.sustainability{
    position: absolute;
    bottom: 100px;
    left: 80px;
    padding: 0.5rem 0.75rem;
    background-color: green;
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
}

.price{
    color: red;
}

.old_price{
    text-decoration: line-through;
    color: black;
}

/* main */

/* footer */

#app-footer{
    background-color: #1a1a1a;
    margin-top: 5rem;
    color: white;
}

.ft_info{
    flex-direction: column;
    
}

.container.footer_info{
    justify-content: space-between;
}

.iconfooter{
    flex-wrap: wrap;
    color: white;
    gap: 0.5rem;
}
